article.aux
article.bbl
article.bcf
article.blg
article.fdb_latexmk
article.fls
article.log
article.run.xml
article.synctex.gz
Readings/A Secure Fog Based Architecture for Industrial Internet of Things and Industry 4.0.pdf
Readings/A Survey on Industrial Internet of Things Security Requirements, Attacks, AI-Based Solutions, and Edge Computing Opportunities.epub
Readings/A Survey on Industrial Internet of Things Security Requirements, Attacks, AI-Based Solutions, and Edge Computing Opportunities.pdf
Readings/Internet of Things botnets A survey on Artificial Intelligence based detection techniques.pdf
Readings/Internet_of_Things_Security_and_Data_Privacy_Concerns_in_Smart_Farming.pdf
Readings/Internet_of_Things_Security_Based_on_Big_Data_and_Deep_Learning.pdf
